<h3>Your Appointments:</h3>
    <% @patient.appointments.each do |app| %>
        <p>Time: <%= app.appointment_datetime.strftime("%B %e, %Y at %k:%M") %></p>
        <p>Doctor: <%= link_to app.doctor.name, doctor_path(app.doctor) %></p>
    <% end %>